@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        <!-- TH scripts -->
        @Html.THScripts("dialog")
    </head>
    <body class="skin">

        <!-- Skin-->
        <div class="skin">

            <!-- Body -->
            @RenderBody()
    
        </div>
        <!-- //Skin -->


        <!-- View (scripts) -->
        @RenderSection("scripts", false)
    </body>
</html>
