@using TH.Core.Tools.Form.Models

@{
    Layout = null;
    Form form = (Form)ViewData["Form"];
}

@Html.DialogSettings(title: "Nieuwe order")

<div>
    @{ Html.RenderForm(form); }
</div>

<div class="buttonRow" data-ds-buttons>
    <input type="button" class="button" data-button="btn-cancel" value="Cancel" />
    <input type="button" class="button-create" data-button="btn-save" value="Next" />
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // Urls
        var uSaveOrder = '@Url.Content("/modules/order/save-order")';

        // Selectors
        var sCancel = '[data-button=btn-cancel]';
        var sSave = '[data-button=btn-save]';

        // Vars
        var formName = @Html.Json(form.Name);

        // Bind=> Save
        $(document).off('click', sSave);
        $(document).on('click', sSave, function () {
            var formData = FormManager.data(formName);
            TH.ajax.postJSON({
                url: uSaveOrder,
                data: {
                    postData: formData
                },
                success: function (response) {
                    debugger;
                    Feedback.success({ message: response.message });
                    DialogSystem.done({ action: 'save', data: { next: 'order', order: response.order } });
                },
                error: function (response) {
                    Feedback.error({ message: response.message });
                }
            });
        });

        // Bind => cancel
        $(document).off('click', sCancel);
        $(document).on('click', sCancel, function () {
            DialogSystem.done({ action: 'cancel' });
        });
    });
</script>